<div class='mx-3'>
  <h1>
    Real Time Products
  </h1>
  <div class='container'>
    <div
      class='row'
      data-masonry='{"percentPosition": true }'
      id='cardContainer'
    >
    </div>
  </div>
</div>

<script
  src='https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js'
  integrity='sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D'
  crossorigin='anonymous'
  async
></script>
<script src='js/rtProducts.js' type='module'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/socket.io/socket.io.js'></script>